<%- include('header') %>
        <h1><a href="/"><img src="/fundo.png"></a></h1>
            <div class="gbairro"> <%= bairro %> </div>
            <div class="gequipe"><%= equipe %></div>
            <div class="gmodelo"><%= modelo %></div>
            <div class="gplaca"><%= placa %></div>
            <form action="https://v2.convertapi.com/convert/html/to/jpg?Secret=00kk3wW6f0owLcug&download=attachment" method="post" enctype="multipart/form-data">
            <input type="url" name="File" value=""/>
            <input type="submit" value="Convert file"/>
        </form>
<%- include('footer') %>   